.header {
  background-color: var(--color-grey-50);
  box-shadow: var(--shadow-md);
  border-bottom: 1px solid var(--color-grey-100);
  height: 7rem;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerText {
  display: grid;
  grid-template-columns: max-content max-content max-content;
  gap: 3rem;
  align-items: center;

  &::after,
  &::before {
    content: "";
    width: 75px;
    height: 3px;
    background-color: var(--color-brand-600);
  }

  @media (max-width: 60em) {
    gap: 1rem;
  }

  @media (max-width: 60em) {
    &::after,
    &::before {
      width: 50px;
    }
  }

  @media (max-width: 60em) {
    &::after,
    &::before {
      width: 20px;
    }
  }
}

.heading4 {
  font-size: 2.8rem;
  font-weight: 500;
  font-family: "Josefin Sans", sans-serif;
  /* color: #e11d48; */

  @media (max-width: 60em) {
    font-size: 2.2rem;
  }

  /* @media (max-width: 39em) {
    grid-template-columns: 1fr;
  } */
}
