.operations {
  border-radius: var(--border-radius-sm);
  border-left: 4px solid orangered;

  padding: 1rem;
  gap: 2rem;

  box-shadow: var(--shadow-xl);
  padding: 2rem;

  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: end;
}
